*.maxpat              text diff=maxpat
*.maxhelp             text diff=maxpat
*.amxd                binary diff=amxd
*.als                 binary diff=als

# *.maxpat diff=max
# *.maxhelp diff=max
# *.amxd -text diff=max
